.card {
    width: 8rem;
    height: 10rem;
    background: dimgrey;
    color: #282c34;
    fill: #282c34;
    border: darkgray solid 1px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    cursor: pointer;
}

.cardValue {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150%;
}

.cardValue svg {
    height: 4rem;
    width: 4rem;
}

.cardImage {
    height: 2rem;
    width: 2rem;
    margin: 0.1rem;
}

.cardImage.top {
    align-self: flex-start;
}
.cardImage.bottom {
    align-self: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
    .cardImage {
        animation: cardImage-spin infinite 10s linear;
    }
}


@keyframes cardImage-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
